.team {
	padding: 2rem 6rem;
	margin: 4rem 6rem;
	display: flex;
	flex-direction: column;
}

.teamHeading {
	width: 100%;
	text-align: left;
	margin-bottom: 5rem;
}

.teamHeading h1 {
	font-style: normal;
	font-weight: 500;
	font-size: 40px;
	line-height: 75px;
}

.membersContainer {
	flex: 1;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 2rem;
}
