.team {
	padding: var(--section-padding);
	margin: var(--section-margin);
	display: flex;
	flex-direction: column;
}

.teamHeading {
	width: 100%;
	text-align: left;
	margin-bottom: 3rem;
}

.teamHeading h1 {
	font-style: normal;
	font-weight: 500;
	font-size: 35px;
	line-height: 75px;
	color: var(--theme-text);
}

.membersContainer {
	flex: 1;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 2rem;
}
