.member {
	display: flex;
	flex-direction: column;
}

.memberImage {
	width: 100%;
	height: 200px;
	background-color: black;
	border-radius: 0.5rem;
}

.memberImage img {
	width: 100%;
	height: 0%;
}

.memberDetail {
	display: flex;
	flex-direction: column;
	padding: 1rem 0.5rem;
	height: fit-content;
	color: var(--theme-text);
	align-items: center;
}

.memberDetail p:first-child {
	font-size: 18px;
	font-weight: 600;
	color: #3da470;
}

.memberDetail p:last-child {
	font-weight: 400;
	font-size: 15px;
	text-align: center;
}
