.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 6rem;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
	position: fixed;
	width: 100%;
	top: 0;
	background-color: var(--theme-background);
	z-index: 1;
}

.navbarLinks {
	flex: 1;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.navbarLogo {
	margin-right: 1rem;
}

.navbarLinksContainer {
	display: flex;
}

.navbarLinksContainer p {
	font-weight: 400;
	font-size: 14px;
	line-height: 25px;
	text-transform: capitalize;
	margin: 0 2rem;
	transition: 0.4s ease;
	cursor: pointer;
	color: var(--theme-text);
}

.navbarLinksContainer p:hover {
	color: #ff3360;
}

.navbarMenu {
	margin-left: 1rem;
	display: none;
	position: relative;
}

.navbarMenuContainer {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
	text-align: end;
	padding: 2rem;
	position: absolute;
	top: 40px;
	right: 0;
	margin-top: 1rem;
	min-width: 210px;
	border-radius: 5px;
	background-color: rgba(0, 0, 0, 0.1);
}

.navbarMenuContainerLinks p {
	text-transform: capitalize;
}

@media screen and (max-width: 1050px) {
	.navbarLinksContainer {
		display: none;
	}

	.navbarMenu {
		display: flex;
	}
}

@media screen and (max-width: 700px) {
	.navbar {
		padding: 0rem;
	}
}
