.about {
	padding: var(--section-padding);
	margin: var(--section-margin);
	display: flex;
	flex-direction: column;
}

.aboutText {
	display: flex;
	flex-direction: column;
}

.aboutText h1 {
	font-weight: 500;
	font-size: 40px;
	line-height: 75px;
	color: var(--theme-text);
}

.aboutTextContainer {
	display: flex;
	align-items: center;
}

.aboutTextContainer p {
	flex: 1.5;
	font-weight: normal;
	font-size: 16px;
	line-height: 27px;
	color: var(--theme-text);
}

.aboutTextContainer .aboutImage {
	flex: 1;
}

.aboutContent {
	display: flex;
	gap: 5rem;
}

.aboutSection {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.aboutSectionHeader {
	background-color: #54bf8a;
	height: 3rem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.aboutSectionHeader h1 {
	font-weight: 500;
	font-size: 24px;
	line-height: 75px;
	color: white;
	margin-left: 1.5rem;
}

.aboutSection p {
	font-weight: normal;
	font-size: 16px;
	line-height: 27px;
	color: var(--theme-text);
}

.aboutSection p br {
	content: '';
	display: block;
	margin-top: 1rem;
}
