.blog {
	padding: 2rem 6rem;
	margin: 4rem 6rem;
	display: flex;
	flex-direction: column;
}

.blogHeading {
	width: 100%;
	text-align: left;
	margin-bottom: 3rem;
	text-transform: capitalize;
}

.blogHeading h1 {
	font-style: normal;
	font-weight: 500;
	font-size: 35px;
	line-height: 75px;
}

.blogContainer {
	display: flex;
	flex: 1;
}

.blogContainer .groupA {
	flex: 0.75;
	margin-right: 2rem;
}

.blogContainer .groupB {
	flex: 1;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 2rem;
}
