.navbar {
	display: flex;
	align-items: center;
	padding: 0 6rem;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

.navbarLinks {
	flex: 1;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.navbarLogo {
	margin-right: 1rem;
}

.navbarLinksContainer {
	display: flex;
}

.navbarLinksContainer p {
	font-weight: 300;
	font-size: 17px;
	line-height: 25px;
	text-transform: capitalize;
	margin: 0 2rem;
	transition: 0.4s ease;
}

.navbarLinksContainer p:hover {
	color: red;
}

/* // 238,59,142 rgb */
/* color 0.4s ease 0s */
