.footer {
	padding: 3rem 15rem;
	margin-top: 10rem;
	width: 100%;
	box-shadow: var(--box-shadow);
	display: flex;
	flex-direction: column;
	color: var(--theme-text);
}

.footerLinks {
	display: flex;
	margin-bottom: 3rem;
}

.footerMenu {
	flex: 1;
	font-size: 14px;
	font-weight: 400;
	display: flex;
	flex-direction: column;
	gap: 0.8rem;
	text-align: center;
}

.footerLinks div:first-child {
	text-align: left;
	cursor: pointer;
}

.footerLinks div:last-child {
	text-align: right;
}

.footerCopyRight {
	align-self: center;
	font-size: 12px;
	font-weight: 300;
}

@media screen and (max-width: 1050px) {
	.footer {
		padding: 3rem 6rem;
	}

	.footerLinks {
		flex-direction: column;
		align-items: center;
		gap: 2rem;
	}

	.footerMenu {
		min-width: 200px;
	}

	.footerLinks div:first-child {
		text-align: center;
	}

	.footerLinks div:last-child {
		text-align: center;
	}
}

@media screen and (max-width: 1050px) {
	.footerCopyRight {
		text-align: center;
	}
}
