@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
}

body {
	font-family: 'Open Sans', sans-serif;
}

a {
	color: unset;
	text-decoration: none;
}

.App {
	position: relative;
	background-color: var(--theme-background);
}

#light {
	--theme-background: white;
	--theme-text: black;
	--box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

#dark {
	--theme-background: black;
	--theme-text: white;
	--box-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
}
