@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

:root {
	--section-padding: 2rem 6rem;
	--section-margin: 4rem 9rem;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
}

body {
	font-family: 'Open Sans', sans-serif;
}

a {
	color: unset;
	text-decoration: none;
}

.App {
	position: relative;
	background-color: var(--theme-background);
}

.name-highlight {
	display: inline-block;
	font-weight: 800;
	background-image: linear-gradient(
		145deg,
		hsl(39deg 100% 60%) 0%,
		hsl(35deg 100% 61%) 11%,
		hsl(31deg 100% 63%) 22%,
		hsl(27deg 100% 64%) 33%,
		hsl(22deg 100% 65%) 44%,
		hsl(17deg 100% 66%) 56%,
		hsl(11deg 100% 66%) 67%,
		hsl(3deg 100% 67%) 78%,
		hsl(355deg 100% 65%) 89%,
		hsl(347deg 100% 60%) 100%
	);
	background-size: 100%;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

#light {
	--theme-background: white;
	--theme-text: black;
	--box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

#dark {
	--theme-background: black;
	--theme-text: white;
	--box-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
}
